.loader{
    position: relative;
    margin-inline: auto;
    width: 200px;
    aspect-ratio: 1/1;
}

.loader__ring{
    width: 100%;
    height: 100%;
    border-left: 4px solid var(--secondary-color);
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.loader__text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 1.5rem;
    color: var(--gray-color);
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}