.create__recipe{
    min-height: calc(100vh - 8rem);
    display: grid;
    place-items: center;
}
.create__recipe-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    height: 100%;
}

.create__recipe-container-form h1{
    margin-bottom: 1rem;
}

.create__recipe-form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.create__recipe-form label{
    color: var(--secondary-color);
}

.create__recipe-form .form__group{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.create__recipe-form .form__group-actions{
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.recipe__preview .recipe__cover{
    width: 100%;
    aspect-ratio: 16/10;
}

.recipe__preview-body{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-color);
}

.recipe__preview-body h3{
    color: var(--secondary-color);
}

.recipe__preview-body h4{
    color: var(--secondary-color);
}

#recipeCover{
    display: none;
}

.recipe__preview-footer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.recipe__preview-footer small{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.recipe__preview-footer small svg{
    color: var(--secondary-color);
}

.form__group-actions div input[type="checkbox"]{
    accent-color: var(--secondary-color);
}

@media screen and (max-width: 1200px){
    .create__recipe-container{
        grid-template-columns: 5fr 2fr;
    }   
}

@media screen and (max-width: 1100px){
    .create__recipe-container{
        grid-template-columns: 1fr;
    }   

    .create__recipe-container-form{
        order: 2;
    }

    .create__recipe-container-preview{
        order: 1;
    }

    .recipe__preview .recipe__cover{
        width: 20rem;
    }

    .form__group-actions{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px){
    .recipe__preview .recipe__cover{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .form__group-actions{
        flex-direction: column;
    }

    .form__group-actions div{
        display: flex;
        align-items: center;
    }    
}

