.register{
    padding: 0;
}

.form__container{
    display: grid;
    place-items: center;
    min-height: calc(100vh - 8rem);
}

.form__wrapper{
    width: var(--width-form);
}

.form__wrapper h1{
    margin-bottom: 1rem;
}

.form__auth{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form__auth textarea{
    height: 5rem;
    font-size: 0.9rem;
}

.form__wrapper small{
    display: block;
    margin-top: 1rem;
    color: var(--gray-color);
}

.form__wrapper small a{
    color: var(--secondary-color);
}

.form__wrapper small a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1024px){
    .form__wrapper{
        width: 100%;
    }
}