.profile{
    padding: 0;
}
.profile__container{
    min-height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__form-container{
    width: var(--width-form);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile__avatar-container{
    position: relative;
}

.profile__avatar{
    width: 12rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.btn__edit-avatar,
.btn__upload-avatar{
    position: absolute;
    left: 0.1rem;
    bottom: 1rem;
    background-color: var(--secondary-color);
    padding: 0.9rem;
    display: flex;
    border-radius: 50%;
}

.btn__upload-avatar{
    right: 0.1rem;
    left: auto;
}

.btn__upload-avatar.loading{
    background-color: var(--gray-color);
}

#profileAvatar{
    display: none;
}

.profile__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile__form button{
    margin-top: 0.5rem;
}

.profile__form div{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.profile__form label{
    color: var(--secondary-color);
}

@media screen and (max-width: 768px){
    .profile__form-container{
        width: 100%;
    }
}